<h1>データの編集</h1>
<form action="/gbf/update/<%= id %>" method="POST">
    年: <input type="number" name="year" value="<%= item.year %>"><br>
    月: <input type="number" name="month" value="<%= item.month %>"><br>
    名前: <input type="text" name="name" value="<%= item.name %>"><br>
    属性: <input type="text" name="element" value="<%= item.element %>"><br>
    武器: <input type="text" name="weapon" value="<%= item.weapon %>"><br>
    CV: <input type="text" name="cv" value="<%= item.cv %>"><br>
    <button type="submit">更新を保存</button>
</form>
<a href="/gbf">キャンセル</a>